# Docker
/Dockerfile
/.dockerignore
/docker-compose.yml

# Git
/.git
.gitignore

# OSX
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# App
/test
/node_modules
/build
/.api
/_data

/sample.env
/.env
