@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 400;
  src: local('IranYekanWeb'),
      url('../fonts/woff2/iranyekanwebregular.woff2') format('woff2'),
      url('../fonts/woff/iranyekanwebregular.woff')   format('woff'),
      url('../fonts/ttf/iranyekanwebregular.ttf')     format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 300;
  src: local('IranYekanWeb Light'),
      url('../fonts/woff2/iranyekanweblight.woff2') format('woff2'),
      url('../fonts/woff/iranyekanweblight.woff')   format('woff'),
      url('../fonts/ttf/iranyekanweblight.ttf')     format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 700;
  src: local('IranYekanWeb Bold'),
      url('../fonts/woff2/iranyekanwebbold.woff2') format('woff2'),
      url('../fonts/woff/iranyekanwebbold.woff')   format('woff'),
      url('../fonts/ttf/iranyekanwebbold.ttf')     format('truetype');
}
